.App{
  overflow: hidden;
}

@media (min-width: 769px) and (max-width: 1001px) {
  .App{
      overflow: hidden;
  }
}

@media (max-width: 768px){
  .App{
      overflow: hidden;
  }
}

@media (max-width: 480px){
  .App{
      overflow: hidden;
      /* overflow-x: hidden; */
  }
}

@media (max-width: 580px){
  .App{
      overflow: hidden;
  }
}

