@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    overflow-x: hidden;
    position: relative;
}

.top-ribbon{
    height: 35px;
    width: 100%;
    background-color: #161509;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.icon-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-box .ribbon-icon{
  width: 40px;
  margin: 0 5px;
}

.text-animation-1{
    animation: showHide 5s infinite 0s;
}

.text-animation-2{
    animation: showHide 5s infinite 2.5s;
}

.ribbon-text-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 15px;
    text-shadow: 4px 4px 2px #3c2727;
    font-weight: 400;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1.6px;
    transition: opacity 1s ease-in-out;
  }

  .ribbon-text-2{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 15px;
    text-shadow: 4px 4px 2px #3c2727;
    font-weight: 400;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1.6px;
    transition: opacity 1s ease-in-out;
  }

.navbar-title-container{
    height: 90px;
    width: 20%;
    position: relative;
    /* background-color :#fbe122; */
    background-color:#5c4343;
}

.navbar-title-1{
    height: 100%;
    width: 100%;
    /* background-color: #fbe122; */
    background-color:#5c4343;
    transform: skew(-20deg);
    position: absolute;
    left: 40px;
    z-index: -1;
}

.navbar-title-container h1{
    position: absolute;
    left: 6%;
    top: 20%;
    z-index: 0;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: #161509;
}

.navbar-title-container .img{
  width: 150px;
  position: absolute;
  left: 6%;
  top: 20%;
  z-index: 0;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  color: #161509;
}


.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: #161509;
    
}

.navbar-list li .link{
  color:#7b7777;
  /* font-weight: 900; */
}

.navbar-list li .link:hover{
  color: #000;
}

.navbar-list li:hover{
    /* border-bottom: 3px solid #fbe122; */
    border-bottom: 3px solid #5c4343;
    color:#7b7777;
    transition: 0.1s all ease-in-out;
}

.navbar-list-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.navbar-btn{
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #3c2727;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Teko', sans-serif;
    /* font-weight: bold; */
}

.navbar-btn:hover{
    background-color: #fbe122;
    border: 2px solid #3c2727;
    color: #3c2727;
    transition: 0.1s all;
    
}


.login-button {
    background-color:#161509;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  
  .login-icon {
    margin-right: 10px;
  }
  
  .login-button:hover {
    background-color:#5c4343;
  }

  .login-button:active{
    background-color:#fbe122;
    transition: 5s all ease-in-out;
  }

  .icon-box{
    position: absolute;
    top: 50%;
    height: 30px;
    left: 94%;
    transform: translate(-50%, -50%);
    width: 10%;
    display: flex;
    justify-content: space-between;
  }



@keyframes showHide {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  /* media query */
  @media (min-width: 769px) and (max-width: 1000px) {
    .navbar-container{
      width: 100%;
    }
    .navbar-list{
      width: 75%;
    }
    .navbar-list li{
      font-size: 11px;
    }

    .navbar-title-container h1{
      font-size: 20px;
      top: 40%;
    }

    .top-ribbon{
      width: 100%;
    }

    .ribbon-text-1{
      left: 53%;
      width: 50%;
    }

    .ribbon-text-2{
      left: 50%;
      width: 40%;
    }

    .icon-box{
      width: 17%;
      margin-left: -25px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-right: 15px;
    }

    .icon-box .ribbon-icon{
      height: 20px;
      width: 30px;
    }
  }

  @media (max-width: 768px){
    .navbar-container{
      width: 100%;
      padding-right: 10px;

    }
    .navbar-list-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .navbar-list{
      width: 100%;
      padding-top: 20px;
      padding-right: 15px;
    }
    .navbar-list li{
      font-size: 11px;
    }

    .login-button{
      font-size: 10px;
      /* width: 100px; */
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .top-ribbon{
      height: 40px;
      width: 100%;
    }

    .ribbon-text-1{
      width: 53%;
      height: 100%;
      font-size: 14px;
      left: 60%;
    }

    .navbar-title-container{
      margin-bottom: 30px;
    }

    .navbar-title-1{
      height: 200px;
      width: 180px;
      left: -0%;
    }

    .ribbon-text-2{
      width: 53%;
      left: 60%; 
    }

    .icon-box{
      padding-right: 5px;
    }
  }

  @media (max-width: 660px){
    .navbar-list{
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: 20px;
    }

    .navbar-title-container{
      height: 200px;
    }

    .navbar-list li{
      width: 100px;
      margin: 10px 25px;
      margin: auto;
      margin-left: 40px;
      margin-top: 15px;
    }
    .navbar-title-1{
      width: 140px;
      left: 50px;
      bottom: 0px;
    }

    .navbar-title-container h1{
      font-size: 35px;
    }

    .navbar-title-container{
      margin-top: -20px;
    }

    .ribbon-text-1{
      padding-left: 70px;
    }

    .ribbon-text-2{
      padding-left: 70px;
    }

  } 

  @media (max-width: 480px){
    .icon-box{
      display: none;
    }

    .navbar-list { 
      flex-direction: column;
      align-items: center;
       line-height: 60px;
    }

    .ribbon-text-1{
      font-size: 10px;
      width: 58%;
      left: 59%;
      padding-top: 12px;
      padding-bottom: 12px;
      font-family: 'Montserrat', sans-serif;
    }

    .ribbon-text-2{
      font-size: 10px;
      width: 58%;
      left: 58.5%;
      padding-top: 5px;
      font-family: 'Montserrat', sans-serif;
    }

    .navbar-title-1{
      width: 120px;
    }
      

    .navbar-list-container{
      position: absolute;
      top: 29px;
      right: -30px;
      width: 0;
      visibility: hidden;
      background-color: #000;
      z-index: 1000;
      transition: 0.5s all ease-in-out;
    }

    .navbar-list li .link{
      color: #fff;
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      width: 200px;
    }

    .navbar-list li .link:hover{
      color: #7b7777;
    }
  
    .active {
      transition: 0.5s all ease-in-out;
      width: 72%;
      min-height: 70vh;
      visibility: visible;
    }
    
    .navbar-list li .advertisement{
      font-size: 13px;
      width: fit-content;
    }
    .hamburger-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20px;
      left: 88%;
      z-index: 1001;
    }

    .navbar-container{
      position: relative;
      width: 100%;
      z-index: 999;
      overflow: visible;
    }

    .hamburger-menu div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 3px 0;
    }

    .hamburger-menu:active{
      background-color: #706767;
      padding: 3px;
      border-radius: 6px;
    }

    .top-ribbon{
      height: 70px;
      width: 100%;
    }

    .navbar-title-1{
      height: 70px;
      width: 120px;
    }

    .navbar-title-container{
      height: 70px;
      margin-top: 0px;
    }

    .navbar-title-container h1{
      font-size: 20px;
    }

    .navbar-title-container .img{
      width: 90px;
      top: 20%;
      left: 15%;
    }

    .login-button{
      background-color: #fff;
      color: #161509;
      font-weight: bold;
      display: flex;
      justify-content: center;
      font-size: 15px;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }