@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
.contactus-heading div{
    height: 100%;
    width: 100%;
    transform: skew(-40deg);
    background-color: #161509;
    position: absolute;
    top: 0;
    left: 17%;
    z-index: -1;
  }

  .contactus-heading{
    background-color: #161509;
    height: 80px;
    width: 60%;
    position: relative;
    z-index: -2;
    margin-top: 100px;
  }

  .contactus-heading h1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: #fff;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 400;
    letter-spacing: 2px;
    /* border: 1px solid red; */
  }

  .office-address{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
  }

  .office-address .office-1{
    /* background-color: #fbe122; */
    background-color: #5c4343;
    color: #161509;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
  }

  .office-address .office-2{
    /* background-color: #fbe122; */
    background-color: #5c4343;
    color: #161509;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
  }

  .phone-email{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 30px;
  }

  .phone-email div{
    width: 45%;
    display: flex;
    align-items: center;
  }

  .phone-email div p{
    font-size: 16px;
    margin-left: 0px;
  }

  .phone-email div div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .phone-email .phone{
    /* background-color: #fbe122; */
    color: #161509;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }

  .phone-email .email{
    /* background-color: #fbe122; */
    color: #161509;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }

  .phone-email div div p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
  }

  .office-address div{
    display: flex;
    width: 45%;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
  }

  .office-address div p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
  }

  .crime-look-group-heading{
    margin-top: 100px;
    /* background-color: #fbe122; */
    background-color: #5c4343;
  }


  .crime-look-group-heading div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .crime-look-group-heading div h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #222115;
  }

  .crime-look-group-heading div .img{
    width: 130px;
    box-shadow: inset 0px 0px 50px 1px #161509;
    margin-left: 50px;
    transform: skew(20deg);
  }

  .crime-look-group-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .crime-look-group-container-for-ex-style{
    margin-top: 60px;
  }

  .crime-look-group{
    display: flex;
    width: 45%;
  }

  .crime-look-heading{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }

  .crime-look-heading-for-ex-style{
    width: 30%;
  }

  .crime-look-para{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
  }

  .crime-look-para-for-ex-style{
    width: 30%;
  }

  .crime-look-para-for-ex-style p{
    margin-left: auto;
  }

  .crime-look-group div h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
  }

  .crime-look-group div p{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .bureau-reporter-container{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .bureau-reporter{
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  .bureau-reporter-heading{
    width: 30%;
  }

  .bureau-reporter-heading h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
  }

  .heading-para{
    width: 55%;
  }

  .heading-para h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
  }

  .heading-para p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }

  iframe{
    margin-top: 50px;
  }

  .bottome-address{
    width: 30%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .bottome-address p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400; 
    margin-top: 8px;
    text-align: center;
  }



  @media (max-width:768px){
    .contactus-heading{
        width: 75%;
    }

    .contactus-heading h1{
        font-size: 22px;
    }

    .office-address{
      flex-direction: column;
    }

    .office-address div{
      width: 100%;
      margin-top: 30px;
    }
  
    .office-address div p{
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      width: 75%;
      text-wrap: wrap;
      padding-left: 10px;
    }

    .phone-email{
      flex-direction: column;
    }

    .phone-email div{
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;
      align-items: center;
    }

    .phone-email div div{
      margin-bottom: 0;
    }

    .crime-look-group-heading div h1{
      font-size: 35px;
    }

    .crime-look-group-heading div .img{
      width: 100px;
    }

    .crime-look-group-container{
      flex-direction: column;
    }

    .crime-look-group{  
      width: 100%;
      margin: auto;
    }

    .crime-look-para p{
      text-wrap: wrap;
      margin-top: 100px;
    }

    .bureau-reporter-container{
      flex-direction: column;
    }

    .bureau-reporter{
      width: 100%;
    }

    .bureau-reporter-heading{
      width: 45%;
      margin-top: 5px;
    }

    .crime-look-heading-for-ex-style{
      width: 40%;
    }

    .crime-look-para-for-ex-style{
      width: 60%;
    }

    .crime-look-para-for-ex-style p{
      margin-right: auto;
      margin-left: 0;
      margin-top: 100px;
    }
  }

  @media (max-width:480px){
    .contactus-heading h1{
        font-size: 20px;
    }

    .contactus-heading{
        margin-top: 20px;
    }

    .crime-look-group-heading div h1{
      font-size: 24px;
      padding-left: 5px;
    }

    .crime-look-group-heading div .img{
      width: 75px;
    }

    .crime-look-heading-for-ex-style{
      width: 40%;
    }

    .crime-look-heading-for-ex-style h5{
      font-size: 10px;
    }

    .crime-look-para-for-ex-style{
      width: 60%;
    }

    .bottome-address{
      width: 100%;
    }

    .crime-look-para{
      justify-content: center;
    }
  }