.gallery-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 20px;
}

.gallery-container .img{
    width: 22%;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.gallery-container img:hover{
    transform: scale(1.1);
}

@media (max-width:768px){
    .gallery-container .img{
        width: 32%;
    }
}

@media (max-width:480px){
    .gallery-container .img{
        width: 85%;
        margin: auto;
        margin-top: 40px;
    }
}