@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
.about-heading div{
    height: 100%;
    width: 100%;
    transform: skew(-40deg);
    background-color: #161509;
    position: absolute;
    top: 0;
    left: 17%;
    z-index: -1;
  }

  .about-heading{
    background-color: #161509;
    height: 80px;
    width: 60%;
    position: relative;
    z-index: -2;
    margin-top: 100px;
  }

  .about-heading h1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .about-para-container{
    /* border: 1px solid red; */
    width: 80%;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: 100px;
    line-height: 30px;
  }

  .about-para-container p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  @media (max-width:768px){
    .about-heading{
        width: 75%;
    }

    .about-heading h1{
        font-size: 22px;
    }

    .about-para-container{
        margin-right: 40px;
    }
  }

  @media (max-width:480px){
    .about-heading h1{
        font-size: 20px;
    }

    .about-heading{
        margin-top: 20px;
    }
  }