@import url('https://fonts.googleapis.com/css2?family=Teko:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.headline-container{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 20px 10px;
    margin-bottom: 40px;
    /* margin-top: 100px; */
    padding-top: 50px;
    background-image: linear-gradient(#cfbaba, #ffffff);
}
.headline {
    padding: 20px;
    animation: slideInLeft 1s ease-in-out;
    width: 55%;
    border-radius: 15px;
  }

  .headline ol{
    max-height: 400px;
    overflow-y: auto;
    padding: 20px;
    margin-top: 20px;
    padding-left: 25px;
    padding-bottom: 100px;
  }

  .headline ol li{
    border-bottom: 1px solid #999;
    padding: 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color:#161509;
  }

  .headline-heading{
    background-color: #161509;
    height: 80px;
    width: 35%;
    position: relative;
    z-index: -2;
  }

  .headline-heading h1{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

  .headline-heading div{
    height: 100%;
    width: 100%;
    transform: skew(-40deg);
    background-color: #161509;
    position: absolute;
    top: 0;
    left: 17%;
    z-index: -1;
  }
  
  .headline h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .headline p {
    font-size: 16px;
    color: #666;
  }


  /* advertisement */
  .advertisement-card {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    animation: slideInRight 1s ease-in-out;
  }

  .advertisement-card .img{
    width: 70%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    filter: brightness(100%);
    margin-top: 30px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
  }

  .advertisement-card .img:hover{
    transform: scale(1.1);
  }
  
  .advertisement-card h2 {
    font-size: 20px;
    color:#161509;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    border-bottom: 3px solid #161509;
  }

  @media (max-width: 600px){
    .headline-container{
      flex-direction: column;
      margin-top: 50px;
    }
    .headline{
      width: 100%;
    }

    .advertisement-card{
      margin: auto;
    }
  }

  @media (max-width: 800px){
    .advertisement-card{
      width: 50%;
    }
  }


  @media (max-width: 1050px){
    .advertisement-card .img{
      height: 55%;
      width: 70%;
    }

    .headline-heading h1{
      left: 60%;
    }

    .headline-heading{
      width: 80%;
    }
  }